/* #root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: 'Rubik';
  src: url('/home/phantom/Documents/react-project/src/assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/home/phantom/Documents/react-project/src/assets/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background: #f0f2f5; */
  background: #fff;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}
.SHAlogo {
  position: absolute;
  /* top: -252px;
  left: -606px; */
  top: 30px;
  left: 69px;
  font-weight: 700;
  font-style: normal;
  font-size: 49px;
}



.contForm {
  max-width: 666px;
  margin: 236px auto auto auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 4px 
      rgba(0, 0, 0, .1), 0 8px 16px 
      rgba(0, 0, 0, .1); */
}

.label {
  padding: 13px auto;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: black;
  /* width: fit-content; */
}

.loginForm {
  padding: 56px 36px;
}

.loginForm .fontEmail {
  font-size: 18px;
  color: #130f40;
  margin: 5px 0;
}

.loginForm input {
  height: 40px;
  width: 350px;
  padding: 30px 2px;
  font-size: 18px;
  outline: none;
  /* border: 1px solid silver; */
  border: none !important;
  /* border-radius: 6px; */
}

input::after, input:focus{
  border: none !important;
}

input::placeholder{
  color: #131212 !important;
}

.loginForm .fontPassword {
  margin-top: 30px;
  margin-bottom: 6px;
}

.loginForm .submit {
  margin: 60px 0 15px 0;
  height: 49.21px;
  width: 203.41px;
  font-size: 20px;
  color: white;
  background-color: #7939ff;
  outline: none;
  cursor: pointer;
  border-radius: 23.38px;
  font-weight: bold;
  transition: .5s;
  border: none;
}

.loginForm button:hover{
  background: #845ed6;
}

#sub-btn{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.loginForm #email_error,
.loginForm #password_error {
  width: 533px;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(199, 0, 0);
  /* background: rgba(255, 0, 0, 0.1); */
  /* text-align: center; */
  margin-top: 10px;
  /* border-radius: 3px; */
  /* border: 1px solid #ef9a9a; */
  display: none;
}

.loginForm #e-error,
.loginForm #pass-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .input-error {
  border: 1px solid red !important;
}


.input-normal {
  border: none !important;
} */

#emailInput{
  background: #fff;
  width: 100%;
  /* max-width: 420px; */
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 
      rgba(0, 0, 0, .1), 0 8px 16px 
      rgba(0, 0, 0, .2);
}
#emailInput #email{
  width: 100%;
  /* padding: 10px 0; */
  border: 0;
  outline: 0;
  font-size: 24px;
}
#emailInput #emailIcon{
  width: 26px;
  position: relative;
  right: 8px;
}
#passwordInput{
  background: #fff;
  width: 100%;
  /* max-width: 420px; */
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 
      rgba(0, 0, 0, .1), 0 8px 16px 
      rgba(0, 0, 0, .2);
}
#passwordInput #password{
  width: 100%;
  /* padding: 10px 0; */
  border: 0;
  outline: 0;
  font-size: 24px;
}
#passwordInput #eyeIcon{
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
}
#passwordInput #passwordIcon{
  width: 26px;
  position: relative;
  right: 8px;
}
#backgroundMark{
  /* width: 960.5px;
  height: 957.5px; */
  /* left: 948.5px; */
  /* top: -237px; */
  /* position: absolute;
  border-bottom-left-radius: 305px;
  border-top-left-radius: 305px; */
  /* min-width: 100vh; */
  min-height: 100vh;
  background: #7939FF;
  border-bottom-left-radius: 196.5px;
  border-top-left-radius: 196.5px;
}

.sidebar {
  width: 0;
  max-width: 200px;
  transition: width 0.3s ease;
  display: flex;
  background: #000;
  color: #fff;
  /* height: 100%;
  width: 100%; */
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  /* position: fixed; */
  /* bottom: 0; */
  transition:all 0.3s ease !important;
}

.sidebar.open {
  width: 100%; /* or any other value you prefer */
  z-index: 300;
}

.sidebar.closed {
  width: 0;
}

/* .sidebarContainer {
  display: flex;
  background: #000;
  color: #fff;
  height: 100%;
  width: 100%;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  transition:all 0.3s ease;
} */

.sidebarContent {
  /* display:contents; */
  width: 100%;
  /* min-width: 160px; */
  /* width: fit-content; */
  height: calc(100vh - 80px);
  /* overflow-y: auto; */
  /* min-height: 100vh; */
  /* margin-top: 60px; */
  /* transition: all 0.5s; */
}

/* .top_section{
  display: flex;
  height: 20px;
  width: 20px;
  padding:20px 15px; } */

.sideLinks{
  display: flex;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin-top: 7px;
  gap: 10px;
  transition: all 0.1s;
  /* font-size: 26px; */
  text-decoration: none;
  /* width: fit-content; */
}
.sideLinks:active {
color: #7939FF !important;
}
.active #active {
  color: #7939FF !important;
}
.sideLinks:hover {
  /* background: #7939FF; */
  color: #7939FF;
  transition: all 0.1s;
}

.sideLink {
  display: flex;
  padding: 10px 0px 0px 0px;
  margin-top: 7px;
  /* gap: 15px; */
  font-size: 16px;
  text-decoration: none; 
}

.sideIcon {
  display: flex;
  padding: 10px 0px 0px 2px;
  margin-top: 9px;
  gap: 15px;
  font-size: 19px;
  text-decoration: none; 
}

.bars {
  display: flex;
  margin-left: 16px;
  font-size: 31px;
  /* width: 69px;
  height: 36px; */
}

.barsIcon {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.navbar {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  height: 73px;
  width: 100%;
  background-color: #7939FF;
}

.userIconContainer {
  position: relative;
  right: 16px;
  cursor: pointer;
}

.userChevron {
  font-size: 16px;
  padding: 1px;
}

.userIcon {
  font-size: 32px;
  padding: 3px;
  border: 2px solid #000;
  border-radius: 9px;
}

.dropdownMenu {
  z-index: 300;
  position: absolute;
  background-color: #000;
  color: #fff;
  /* width: auto; */
  right: 0px;
  top: 60px;
  border-radius: 13px;
  text-align: center;
  transition:all 0.5s;
  /* width: fit-content; */
  width: auto;
  padding: 10px 16px;
}

.pfMenu {
  /* width: 100%; */
  /* padding: 16px; */
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.pfMenu:hover {
  color: #7939FF;
}

.hrPfMenu {
  padding: 0;
  margin: 10px 6px;
}

.content {
  padding: 0;
  margin: 0;
}

.pfContainer {
  max-width: 808px;
  /* min-width: 666px;
  padding: 0;
  margin: 0;
  display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.pfForm {
  /* width: fit-content; */
  /* max-width: 666px; */
  padding: 0;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.pfBtn {
  color: #fff;
  background-color: #7939FF;
}

.pfBtn:hover {
  color: #fff;
  background-color: #845ed6;
}

.pfHeader {
  margin-bottom: 16px;
  text-align: center;
  font-size: 36px;
  /* width: 311px; */
}

.pfName {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 11px;
}

.pfEmail {
  margin-bottom: 11px;
}

.pfPass {
  margin-bottom: 11px;
}

.pfNewPass {
  margin-bottom: 16px;
}

/* #pfPicture {
  width: 300px;
  height: 300px;
} */

/* .crop-container {
  width: 500px;
  height: 500px;
  padding: 10px;
  overflow: hidden;
}

rect {
  /* Add styles to the crop window */
  /* margin: 0 auto;  Center the crop container horizontally */
  /* border: 2px solid #ccc;  Example border style */
  /* max-width: 300px !important; */
  /* max-height: 300px !important; */
  /* overflow: hidden;
} */

input[type="file"]::placeholder {
  color: transparent;
}

#fileInput {
  background-color: #fff;
  color: #fff;
  width: 103px;
}

.cropBtn {
  background-color: #7939FF;
  color: #fff;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: transparent;
  cursor: pointer;
}

.cropBtn:hover {
  background-color: #845ed6;
  color: #fff;
}

.fade.modal.show {
  background-color: #000000c2;
  backdrop-filter: blur(69px);
}
.modal-dialog.modal-lg {
  /* width: 100%; */
  height: 90vh;
}

.modal-content {
  /* margin-top: 10rem; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  top: 21%;
  bottom: 0;
  right: 0;
  left: 0;
}

/* .profile-head {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 269px; */
    /* min-width: 326px; */
    /* width: fit-content;
    height: fit-content; */
    /* height: 236px; */
    /* max-height: 200px; */
    /* position: relative;
} */

.headContainer {
  display: flex;
  justify-content: center;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* width: 269px; */
  /* min-width: 326px; */
  /* height: 236px; */
  /* width: fit-content; */
  /* max-height: 200px; */
  /* height: fit-content; */
  /* position: relative; */
  margin: 0;
  padding: 0;
}

/* .ReactCrop__drag-handle.ord-sw {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#cropBtn {
  color: #fff;
  background-color: #7939FF;
  margin-top: 200px;
  position: absolute;
}

#cropBtn:hover {
  color: #fff;
  background-color: #845ed6;
} */

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  max-width: max-content;
  max-height: max-content;
  margin-top: 0.5rem;
}

#cardsRow {
  min-width: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 484px;
  /* min-height: 225px; */
  margin: 1rem 3%;
}

.card {
  /* margin-bottom: 1rem; */
  color: #fff;
  background-color: #000;
  padding: 19px;
  /* width: 83%; */
  /* min-height: 250px; */
  height: max-content;
  border: none;
  border-radius: 2rem;
  width: auto;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card:hover {
  /* background-color: #0f0f0ff6; */
  background-color: #000;
  transform: scale(1.06);
}

.card-title {
  font-weight:800;
  font-size: 200%;
  color: #fff;
  /* font-weight: bolder; */
}

.progress-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 14% 0px 6% 0;
  width: 100%;
  height: 56px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  /* border: none; */
  border-radius: 7rem;
  background-color: #6d6d6d;
  position: relative;
  top: 6%;
  overflow: hidden;
}

.progress {
  height: 5px;
  background-color: #ffffff;
  /* border: solid #7839ffd3 1px; */
  /* border-radius: 1rem; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.card-text {
  /* position: relative; */
  /* top: 44px; */
  color: #eee;
  margin-bottom: 3%;
}

.arrow-container {
  /* position: relative;
  text-align: center;
  top: 99px;
  left: 313px;
  width: 25%; */
  position: absolute;
  /* width: 50px; */
  height: 19px;
  top: 85%;
  right: 4%;
  bottom: 0;
  left: 0;
}

.arrow-tail {
  border-radius: 1rem;
  height: 1px;
  background-color: #fff;
  position: absolute;
  /* top: 100px;
  left: 304px; */
  width: 21%;
  bottom: 0;
  right: 1%;
  top: 49.3%;
  margin-right: 0.5%;
}

.arrow-head {
  /* background-color: #ffffff; */
  /* border: solid #7839ffd3 1px; */
  /* border-radius: 1rem; */
  position: absolute;
  color: #fff;
  font-size: 19px;
  top: 2%;
  /* left: 389px; */
  bottom: 0;
  right: 0;
}

.cards-link {
  text-decoration: none;
}

/* html body div#root div.container-fluid div.row div.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12 div.content div.cards-container.container-fluid div#cardsRow.g-4.row.row-cols-md-2.row-cols-1 div.cards.col div.card div.card-body div.arrow-container svg.arrow-right path {
  width: 100px !important;
} */

.course-container {
  overflow-x: scroll; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Hide the vertical scrollbar */
  /* white-space: nowrap; Prevent wrapping of content */
  scrollbar-width: none; /* Hide the scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide the scrollbar in Internet Explorer and Edge */
}

.course-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers (like Chrome and Safari) */
}

.course-header {
  margin-top: 1%;
  font-weight: bold;
  color: #7939FF;
  font-size: 269%;
  padding-left: 0px;
  margin-left: 0px;
  width: fit-content;
  height: max-content;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .course-header {
    font-size: 191%;
  }
}

.course-navbar {
  background-color: transparent;
  height: fit-content !important;
  /* max-width: fit-content; */
  /* max-width: max-content !important; */
  /* max-width: 80%; */
  position: relative;
  /* right: 0;
  left: 0; */
  /* max-width: calc(100vw - 30%); */
  white-space: nowrap; /* Prevent wrapping of content */
}

.courseRow1 {
  margin-bottom: 0.6rem !important;
  /* width: calc(100vw - 20%); */
  min-width: 1250px;
}

.collapse-tabs {
  width: 100%;
  height: fit-content;
}

/* @media screen and (max-width: 920px) {
  .courseRow1 {
    width: calc(100vw);
  }
}

@media screen and (max-width: 1180px) {
  .courseRow1 {
    width: 890px;
  }
}

@media screen and (max-width: 1290px) {
  .courseRow1 {
    width: calc(100vw - 20vw) !important;
  }
}

@media screen and (max-width: 1920px) {
  .courseRow1 {
    width: calc(100vw - 32.3vw);
  }
} */

#nav-tabs {
  width: 100%;
  height: max-content;
  /* margin-bottom: 5%; */
  /* margin-top: 1%; */
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.navtabs-container {
  width: 100%;
  height: max-content;
}

.collapse-tabs {
  height: fit-content;
  width: fit-content;
}

.course-navbar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #ced4da; */
  background-color: #808080;
}

/* .nav-line {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
} */

/* .nav-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ced4da;
} */

/* @media screen and (max-width: 768px) {
  .course-navbar::after {
    width: 890px;
  }
} */

.tab-link {
  /* margin-top: 2%; */
  font-weight: 600;
  font-size: large;
  color: #808080;
  /* margin-right: 3%; */
  /* padding: 0px 15%; */
  text-align: center;
  /* width: calc(100vw / 8); */
  /* height: 36px; */
  /* height: 36px; */
  /* padding: 0 auto; */
  /* margin-bottom: 0.6%; */
  height: 2.5rem;
}

.tab-link.active {
  position: relative;
  color: #7939ff !important;
}

.tab-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* margin-left: 2%; */
  height: 2px;
  background-color: #7939ff;
  /* margin-top: 0.6%; */
  z-index: 300;
}

/* #tab2#tab3#tab4#tab5#tab6#tab7#tab8 {
  margin-left: 3%;
} */

#tabz {
  /* padding-left: 2%;
  padding-right: 2%; */
  /* margin: 0 2%; */
  /* text-align: center;
  display: flex;
   */
   padding: 0px !important;
   /* margin-bottom: 0; */
   width: 100%;
}

.tabs-container {
  /* height: 100%; */
  min-height: fit-content;
  /* position: fixed; */
  /* width: max-content; */
  max-width: 100% !important;
}

.tab-content {
  /* position: fixed; */
  /* display: flex; */
  width: 100%;
  margin-left: 0.5%;
}

.announcements-container {
  /* width: 100%; */
  margin-top: 1%;
  /* display: flex; */
  /* width: 100%; */
}

.announcement-container {
  /* height: fit-content; */
  display: flex;
  align-items: center;
}

.annIcon-container {
  background-color: #7939ff;
  color: #fff;
  /* width: 2.3rem; */
  /* width: max-content; */
  text-align: center;
  border: none;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0 !important;
}



.announcement-icon {
  font-size: 136%;
  margin: 0px !important;
  text-align: center;
  width: 100%;
}

.annP-container {
  text-align: center;
  /* height: fit-content; */
  /* width: calc(max-content + 1%); */
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 1%;
}

.announcement-p {
  font-size: 111%;
  font-weight: 100%;
  padding: 0px !important;
  margin-bottom: 0px !important;
  /* margin-top: 0.2rem; */
  text-align: center;
  text-decoration: none;
  border: none;
  color: #000;
  /* width: max-content; */
  width: 100%;
}

@media screen and (max-width: 768px) {
  .announcement-p {
    font-size: 100%;
  }
  .annIcon-container {
    width: 1.5rem;
    height: 1.5rem;
  }
  .announcement-icon {
    font-size: 100%;
  }
  .annP-container {
    margin-left: 2%;
  }
  .announcements-hr {
    width: 96%;
  }
  .files-hr {
    width: 96%;
  }
  .folder-icon {
    font-size: 179% !important;
  }
  .file-container {
    margin-top: 4.6% !important;
  }
  .assignment {
    width: 96% !important;
    height: 100% !important;
  }
  .assignments-container {
    display: inline !important;
  }
  .assignment-container {
    width: 100% !important;
    height: 100% !important;
    margin-right: 2%;
  }
  .ass-name {
    font-size: 100% !important;
  }
  .assName-container {
    margin: 0.5rem 0px 0.5rem 7%!important;
    /* margin-left: 7% !important; */
  }
  .ass-btn, .ass-btn2 {
    margin: 0px 3% 0px 0% !important;
    font-size: 75% !important;
  }
  .assignment-container2 {
    margin-top: 5.4% !important;
    margin-left: 0% !important;
    width: 100% !important;
    height: 100% !important;
    margin-right: 2%;
  }
  .inProgress-ass {
    display: inline !important;
  }
  .upAss-container {
    margin-top: 5%;
    justify-content: center !important;
  }
  .headUp-ass {
    font-size: 111% !important;
  }
  .upAss-icon {
    font-size: 300% !important;
  }
  .description-container {
    width: 96% !important;
    margin-top: 5% !important;
  }
  .project {
    width: 96% !important;
    height: 100% !important;
  }
  .projects-container {
    display: inline !important;
  }
  .project-container {
    width: 100% !important;
    height: 100% !important;
    margin-right: 2%;
  }
  .project-name {
    font-size: 100% !important;
  }
  .projectName-container {
    margin: 0.5rem 0px 0.5rem 7%!important;
  }
  .project-btn {
    margin: 0px 3% 0px 0% !important;
    font-size: 75% !important;
  }
  .project-inProgress {
    display: inline !important;
    max-width: 100% !important;
  }
  .projectUp-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center !important;
    margin: 5% 0px 2% 0px !important;
  }
  .projectUp-icon-container {
    margin: 0% !important;
  }
  .projectUp-btn {
    width: 100% !important;
    height: 111% !important;
    border-radius: 0.5rem !important;
    background-color: #d6d6d6;
    color: #999999;
    font-weight: normal !important;
    font-size: 90% !important;
  }
  .projectUp-icon {
    color: #999999;
    font-size: 222% !important;
  }
  .project-submit {
    margin: 0% 4% 0px 13% !important;
  }
  .project-submitBtn {
    border-radius: 0.5rem !important;
    font-size: 77% !important;
    width: 100% !important;
    height: 20% !important;
  }
  .headUp-project {
    width: fit-content !important;
    height: 100%;
  }
  .projectDescription-container {
    width: 96% !important;
    margin-top: 5% !important;
  }
}

/* .announcements-hr {
  border: none;
  border-top: 1.6px solid;
  width: 100%;
} */

.files-container {
  margin-top: 1%;
}

.file-header {
  color: #646464;
  margin: 0px 0px 1% 0px !important;
  padding: 0% !important;
  font-size: 108%;
}

.file-container {
  display: flex;
  align-items: center;
  margin-top: 1.4%;
  text-align: center;
}

.folder-icon {
  color: #7939FF;
  background-color: transparent;
  margin: 0px !important;
  font-size: 233%;
  /* border-radius: 26%; */
  border: none;
  border-radius: 25%;
}

.file-name {
  margin: 0px 0.7rem !important;
  padding: 0px !important;
  text-align: center;
  /* font-family:cursive; */
  font-size: 116%;
}

.downloadFile-icon {
  color: #7939FF;
  background-color: transparent;
  font-size: x-large;
  border: none;
  font-size: 150%;
}

.files-hr {
  border: none;
  border-top: 2px solid;
  opacity: 0.40;
}

.assignments-container {
  display: flex;
  /* align-items: center; */
  /* justify-content:space-evenly; */
}

.assignment-container, .assignment-container2 {
  height: max-content;
  width: max-content;
}

.assignment-container2 {
  margin-left: 21%;
}

.assignment-header {
  position: relative;
  width: max-content;
  height: max-content;
  display: block;
  color: #646464;
  margin-bottom: 0.6rem;
  margin-top: 0.3rem;
}

.ass-h {
  list-style-type: disc;
  padding: 0px 0px 0px 1rem !important;
  margin: 0% !important;
  text-align: center;
}

.ass-h li {
  padding-bottom: 0px !important;
}

.assignment-header::after {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #646464;
  z-index: -1;
}

/* .ass-h li {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.3rem;
} */

.assignment {
  display: flex;
  justify-content: space-between;
  width: 22.2rem;
  height: 4.4rem;
  background-color: rgb(206, 234, 245);
  border: none;
  border-radius: 0.85rem;
  align-items: center;
  box-shadow: 
  0 4px 2px rgba(0, 0, 0, .1),
  0 8px 16px rgba(0, 0, 0, .2);
  /* box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5) !important; */
}

.assName-container {
  margin-left: 5%;
}

.ass-name {
  margin: 0px 0px 0px 0% !important;
}

.ass-btn {
  color: #fff;
  background-color: rgb(0, 100, 0);
  border: none;
  border-radius: 2rem;
  width: 6rem;
  height: 1.6rem;
  margin-right: 1rem;
  font-size: 83%;
}

.ass-zeros {
  color: #808080;
  font-size: 69%;
  margin: 1% 0px 0px 0px !important;
}

.ass-btn2 {
  color: #fff;
  background-color: #808080;
  border: none;
  border-radius: 2rem;
  width: 6rem;
  height: 1.6rem;
  margin-right: 1rem;
  font-size: 83%;
  white-space: nowrap;
}

.marginLeftZero {
  margin-left: 0% !important;
}

.inProgress-ass {
  max-width: 69%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upAss-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  /* width: 16rem; */
  border-radius: 2rem;
}

.headUp-ass {
  cursor: pointer;
  font-size: 121%;
  font-weight: bold;
  color: #7939ff;
  margin: 0% !important;
  padding: 0% !important;
}

.upAss-icon {
  font-size: 396%;
  font-weight: lighter;
  color: #7939FF;
  border-radius: 20%;
}

.description-container {
  margin-top: 1.5%;
  width: 44%;
}

.ass-submit {
  background-color: #7939ff;
  margin-top: 0.7rem;
}

.ass-submit:hover {
  background-color: #6d40ce;
}

/* .projects-container {
  display: flex;
} */

.project-inProgress {
  display: flex;
  max-width: 96%;
  /* align-items: center; */
  justify-content: space-between;
}

.project-container {
  height: max-content;
  width: max-content;
}

.projectH-container {
  position: relative;
  width: max-content;
  height: max-content;
  display: block;
  color: #646464;
  margin-bottom: 0.6rem;
  margin-top: 0.3rem;
}

.project-header {
  list-style-type: disc;
  padding: 0px 0px 0px 1rem !important;
  margin: 0% !important;
  text-align: center;
}

.project-header li {
  padding-bottom: 0px !important;
}

.projectH-container::after {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #646464;
  z-index: -1;
}

.project {
  display: flex;
  justify-content: space-between;
  width: 22.2rem;
  height: 4.4rem;
  background-color: rgb(136, 255, 152);
  border: none;
  border-radius: 0.85rem;
  align-items: center;
  box-shadow: 
  0 4px 2px rgba(0, 0, 0, .1),
  0 8px 16px rgba(0, 0, 0, .2);
}

.projectName-container {
  margin-left: 5%;
}

.project-name {
  margin: 0px 0px 0px 0% !important;
}

.project-btn {
  color: #fff;
  background-color: #808080;
  border: none;
  border-radius: 2rem;
  width: 6rem;
  height: 1.6rem;
  margin-right: 1rem;
  font-size: 83%;
}

.project-zeros {
  color: #808080;
  font-size: 69%;
  margin: 1% 0px 0px 0px !important;
}

.projectUp-container {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 2%;
  /* width: 16rem; */
  /* border-radius: 2rem; */
}

.headUp-project {
  margin: 0% !important;
  padding: 0% !important;
  width: 100%;
  height: 100%;
}

.projectUp-btn {
  width: 21.5rem;
  height: 14rem;
  border-radius: 1.5rem;
  background-color: #d6d6d6;
  color: #999999;
  font-weight: bold;
  font-size: 123%;
}

.projectUp-icon-container {
  margin: 0% 0px 1rem 0px;
  padding: 0% !important;
}

.projectUp-icon {
  color: #999999;
  font-size: 500%;
}

.project-submit {
  margin-left: 7%;
}

.project-submitBtn {
  background-color: #7939ff;
  border-radius: 1.4rem;
  /* font-weight: bold; */
  font-size: 113%;
  width: 10.6rem;
  height: 10.6rem;
}

.project-submitBtn:hover {
  background-color: #5f35b9;
}

.projectDescription-container {
  margin-top: 0%;
  width: 50%;
}

.description-area {
  border: 1px solid #8b8b8b;
  margin-top: 0.6%;
}
